.loginName {
  text-align: right;
  color: aliceblue;
  padding-right: 1%;
}
.header {
  background-color: rgba(54, 19, 19, 0.657);
  height: 50px;
}
.signOut {
  text-align: right;
  padding-right: 5%;
}
